:root {
    --main-bg-color: #F3F2EF;
    margin: 0;
    padding: 0;
}

* {
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-bg-color);
}

body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
}

body,
p {
    font-size: 1.6rem;
    line-height: 1.5;
}

h1 {
    font-size: 64px;;
}

p {
    font-size: 28px;
    font-weight: bold;
}